*, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

@media screen and (max-width: 540px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 76.66667px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 76.2963px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 69.44444px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 66.66667px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 59.25926px; } }

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.72rem;
  background: #393a3f;
  z-index: 100; }
  .header h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    color: #ffffff;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.72rem;
    left: 0.17rem; }
  .header .sousuo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../img/sousuo.png) no-repeat right;
    background-size: 0.4rem;
    margin-right: 1.28rem; }
  .header .jia {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../img/jia.png) no-repeat right;
    background-size: 0.4rem;
    margin-right: 0.35rem; }

.centersan {
  width: 100%;
  position: fixed;
  top: 0.72rem;
  bottom: 0;
  overflow-y: auto; }
  .centersan .tiao {
    width: 100%;
    height: 0.3rem;
    background: #ebebeb; }
  .centersan .heng {
    width: 100%;
    height: 0.72rem; }
  .centersan .tuyi {
    margin-left: 0.21rem;
    height: 0.71rem;
    background: url(../img/tuyi.png), url(../img/tuer.png);
    background-repeat: no-repeat,no-repeat;
    background-size: 0.36rem,0.58rem;
    background-position: left center,right center;
    margin-right: 0.21rem; }
    .centersan .tuyi h2 {
      font-size: 0.26rem;
      padding: 0.21rem 0.64rem;
      color: #626267;
      cursor: pointer; }
  .centersan .tusan {
    margin-left: 0.21rem;
    width: 4.91rem;
    height: 0.71rem;
    background: url(../img/tusan.png) no-repeat left center;
    background-size: 0.36rem;
    border-bottom: 1px solid #ececec; }
    .centersan .tusan h2 {
      font-size: 0.26rem;
      padding: 0.21rem 0.64rem;
      color: #626267;
      cursor: pointer; }
  .centersan .tusi {
    margin-left: 0.21rem;
    width: 4.91rem;
    height: 0.71rem;
    background: url(../img/tusi.png) no-repeat left center;
    background-size: 0.36rem;
    border-bottom: 1px solid #ececec; }
    .centersan .tusi h2 {
      font-size: 0.26rem;
      padding: 0.21rem 0.64rem;
      color: #626267;
      cursor: pointer; }
  .centersan .tuwu {
    margin-left: 0.21rem;
    width: 4.91rem;
    height: 0.71rem;
    background: url(../img/tuwu.png) no-repeat left center;
    background-size: 0.36rem;
    border-bottom: 1px solid #ececec; }
    .centersan .tuwu h2 {
      font-size: 0.26rem;
      padding: 0.21rem 0.64rem;
      color: #626267;
      cursor: pointer; }
  .centersan .tuliu {
    margin-left: 0.21rem;
    width: 4.91rem;
    height: 0.71rem;
    background: url(../img/tuliu.png) no-repeat left center;
    background-size: 0.36rem;
    border-bottom: 1px solid #ececec; }
    .centersan .tuliu h2 {
      font-size: 0.26rem;
      padding: 0.21rem 0.64rem;
      color: #626267;
      cursor: pointer; }
  .centersan .tuqi {
    margin-left: 0.21rem;
    width: 4.91rem;
    height: 0.71rem;
    background: url(../img/tuqi.png) no-repeat left center;
    background-size: 0.36rem;
    border-bottom: 1px solid #ececec; }
    .centersan .tuqi h2 {
      font-size: 0.26rem;
      padding: 0.21rem 0.64rem;
      color: #626267;
      cursor: pointer; }
  .centersan .tuba {
    margin-left: 0.21rem;
    width: 4.91rem;
    height: 0.71rem;
    background: url(../img/tuba.png) no-repeat left center;
    background-size: 0.36rem;
    border-bottom: 1px solid #ececec; }
    .centersan .tuba h2 {
      font-size: 0.26rem;
      padding: 0.21rem 0.64rem;
      color: #626267;
      cursor: pointer; }

.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.82rem;
  background: #fcfcfc;
  border-top: 1px solid #ccc; }
  .bottom .yi img {
    width: 0.60rem;
    height: 0.40rem;
    float: left;
    padding: 0.1rem 0.4rem; }
  .bottom .yi span a {
    font-size: 0.13rem;
    display: block;
    position: absolute;
    top: 0.55rem;
    left: 0.42rem;
    color: #aaaaaa; }
  .bottom .er img {
    width: 0.40rem;
    height: 0.35rem;
    float: left;
    padding: 0.14rem 0.40rem; }
  .bottom .er span a {
    font-size: 0.13rem;
    display: block;
    position: absolute;
    top: 0.55rem;
    left: 1.66rem;
    color: #aaaaaa; }
  .bottom .san img {
    width: 0.40rem;
    height: 0.35rem;
    float: left;
    padding: 0.14rem 0.40rem; }
  .bottom .san span {
    font-size: 0.13rem;
    display: block;
    position: absolute;
    top: 0.55rem;
    left: 2.98rem;
    color: #4bbf1c; }
  .bottom .si img {
    width: 0.40rem;
    height: 0.35rem;
    float: left;
    padding: 0.15rem 0.4rem; }
  .bottom .si span a {
    font-size: 0.13rem;
    display: block;
    position: absolute;
    top: 0.55rem;
    left: 4.28rem;
    color: #aaaaaa; }
